:root {
	--main-color: #faf5e5;
	--main-header-color: #171717;
	--main-text-color: #000000;
	--footer-color: #ffd36b;
	--white-color: #fff;
	--gray-color: #222222;
}

body {
	background-color: var(--main-color);
}
header {
	height: 59px;
	width: 1280px;
	display: flex;
	background-color: var(--main-color);
	text-transform: uppercase;
}
.header-title {
	color: var(--main-text-color);
	text-align: right;
	font-family: Roboto;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 11px; /* 34.375% */
	letter-spacing: 0.99px;
	display: flex;
	margin-left: 84px;
	margin-top: 24px;
	margin-bottom: 24px;
}
.link-home {
	margin-left: 385px;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-right: 0px;
	width: 40px;
	height: 11px;
	display: flex;
	color: rgba(23, 23, 23, 0.90);
	text-align: right;
	font-family: Roboto;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 11px; /* 100% */
	letter-spacing: 0.99px;
}
.link-about {
	margin-left: 18px;
	margin-top: 24px;
	margin-bottom: 24px;
	width: 47px;
	height: 11px;
	display: flex;
	color: rgba(23, 23, 23, 0.90);
	text-align: right;
	font-family: Roboto;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 11px; /* 100% */
	letter-spacing: 0.99px;
	
}
.link-menu {
	width: 38px;
	margin-left: 18px;
	margin-top: 24px;
	margin-bottom: 24px;
	height: 11px;
	display: flex;
	color: rgba(23, 23, 23, 0.90);
	text-align: right;
	font-family: Roboto;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 11px; /* 100% */
	letter-spacing: 0.99px;
}
.link-feed {
	margin-left: 18px;
	margin-top: 24px;
	margin-bottom: 24px;
	display: flex;
	width: 99px;
	height: 11px;
	color: rgba(23, 23, 23, 0.90);
	text-align: right;
	font-family: Roboto;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 11px; /* 100% */
	letter-spacing: 0.99px;
	
}
.link-contacts {
	margin-left: 18px;
	margin-top: 24px;
	margin-bottom: 24px;
	width: 87px;
	height: 11px;
	display: flex;
	color: rgba(23, 23, 23, 0.90);
	text-align: right;
	font-family: Roboto;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 11px; /* 100% */
	letter-spacing: 0.99px;
}
.link-gifts {
	margin-left: 18px;
	margin-top: 24px;
	margin-bottom: 24px;
	width: 107px;
	height: 11px;
	display: flex;
	color: rgba(23, 23, 23, 0.90);
	text-align: right;
	font-family: Roboto;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 11px; /* 100% */
	letter-spacing: 0.99px;
}
.link-bookings {
	margin-left: 18px;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-right: 56px;
	width: 70px;
	height: 11px;
	display: flex;
	color: rgba(23, 23, 23, 0.90);
	text-align: right;
	font-family: Roboto;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 11px; /* 100% */
	letter-spacing: 0.99px;
}
.description {
	width: 640px;
	height: 2399px;
	flex-shrink: 0;
	background-color: var(--main-color);
}
.descrition-header {
	width: 313px;
	display: flex;
	margin-left: 164px;
	margin-top: 200px;
	color: var(--main-header-color);
	text-align: center;
	font-family: Roboto;
	font-size: 51px;
	font-style: normal;
	font-weight: 400;
	line-height: 58.65px; /* 115% */
}
.description-p {
	width: 181px;
	color: var(--main-text-color);
	text-align: center;
	margin-left: 231px;
	margin-top: 27px;
	font-family: Roboto;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px; /* 100% */
	letter-spacing: 2.08px;
	text-transform: uppercase;
}
.description-img {
	width: 190px;
	height: 190px;
	flex-shrink: 0;
	margin-left: 225px;
	margin-top: 86px;
}
.raw {
	width: 440px;
	height: 1px;
	flex-shrink: 0;
	background: #050505;
	margin-left: 100px;
	margin-top: 103px;
}
.descrition-header-2 {
	width: 285px;
	display: flex;
	margin-left: 178px;
	margin-top: 140px;
	color: var(--main-header-color);
	text-align: center;
	font-family: Roboto;
	font-size: 51px;
	font-style: normal;
	font-weight: 400;
	line-height: 58.65px; /* 115% */
}
.description-p-2 {
	width: 374px;
	margin-left: 154px;
	margin-top: 41px;
	color: var(--main-text-color);
	text-align: center;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22.4px; /* 140% */
	letter-spacing: 0.32px;
}
.description-img-2 {
	width: 283px;
	height: 140px;
	flex-shrink: 0;
	margin-left: 179px;
	margin-top: 80px;
}
.description-p-3 {
	width: 339px;
	margin-left: 150px;
	margin-top: 105px;
	color: var(--main-text-color);
	font-family: Roboto;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: 33.8px; /* 130% */
	letter-spacing: 0.78px;
}
.description-p-4 {
	width: 149px;
	margin-left: 245px;
	margin-top: 82px;
	color: var(--main-text-color);
	text-align: center;
	font-family: Roboto;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px; /* 100% */
	letter-spacing: 2.08px;
	text-transform: uppercase;
}
.raw2 {
	width: 147.281px;
	height: 1px;
	margin-left: 246.36px;
	margin-top: 5.19px;
	flex-shrink: 0;
	background: rgba(0, 0, 0, 0.30);
}
.description-img-3 {
	width: 282px;
	height: 376px;
	margin-left: 179px;
	margin-top: 11.81px;
	flex-shrink: 0;
}
.main {
	display: flex;
}
.mainpic {
	width: 722px;
	height: 962px;
	margin-left: -41px;
	display: flex;
	flex-shrink: 0;
}
.menu {
	width: 1280px;
	height: 1288px;
	display: flex;
	flex-shrink: 0;
}
.menu-part-1 {
	width: 640px;
	height: 1288px;
	display: block;
}
.menu-p {
	width: 81px;
	margin-left: 109px;
	margin-top: 160px;
	color: var(--main-text-color);
	font-family: Roboto;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px; /* 100% */
	letter-spacing: 2.08px;
	text-transform: uppercase;
}
.menu-h {
	width: 353px;
	margin-left: 109px;
	margin-top: 48px;
	color: var(--main-header-color);
	font-family: Roboto;
	font-size: 59px;
	font-style: normal;
	font-weight: 400;
	line-height: 63px; /* 106.78% */
	letter-spacing: 1.8px;
}
.menu-p-2 {
	width: 379px;
	margin-left: 109px;
	margin-top: 52px;
	color: var(--main-text-color);
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22.4px; /* 140% */
	letter-spacing: 0.32px;
}
.menu-p-3 {
	width: 125px;
	margin-left: 109px;
	margin-top: 34px;
	color: var(--main-text-color);
	font-family: Roboto;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px; /* 100% */
	letter-spacing: 2.08px;
	text-transform: uppercase;
}
.raw3 {
	width: 125px;
	height: 1px;
	margin-left: 109px;
	margin-top: 5.45px;
	flex-shrink: 0;
	background: rgba(0, 0, 0, 0.30);
}
.menu-img {
	width: 404px;
	height: 538px;
	margin-left: 109px;
	margin-top: 198.55px;
	flex-shrink: 0;
}
.menu-part-2 {
	width: 640px;
	height: 1288px;
	display: block;
	margin-right: 0px;
}
.menu-img-2 {
	width: 404px;
	height: 539px;
	margin-right: 110px;
	margin-top: 137px;
	flex-shrink: 0;
}
.menu-p-4 {
	width: 390px;
	margin-right: 124px;
	margin-top: 197px;
	color: var(--main-text-color);
	font-family: Roboto;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: 33.8px; /* 130% */
	letter-spacing: 0.78px;
}

.menu-p-5 {
	width: 70px;
	margin-right: 444px;
	margin-top: 59px;
	color: var(--main-text-color);
	font-family: Roboto;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px; /* 100% */
	letter-spacing: 2.08px;
	text-transform: uppercase;
}
.raw4 {
	width: 69.641px;
	height: 1px;
	margin-right: 443.89;
	margin-top: 5.78px;
	flex-shrink: 0;
	background: rgba(0, 0, 0, 0.30);
}
.wines {
	width: 1280px;
	height: 800px;
	display: flex;
	background-image: url(https://s3-alpha-sig.figma.com/img/3f22/9c4d/2541777eff9b03b57d9d8154dd9af0d6?Expires=1691971200&Signature=ZLxUFHn0pMu1oPyptb2zZlH7nJ6wQu5L4Fw9LFOgh77JNg8Tl7bpgqiFTZOTo-3f-VLOqXPD1Ac1BUkC3Z1wiz51~LQ65J9~E2SecWjOfmfIndU6M2QS7-f~BSPwDkpHJEFfVOoErf05LZ7jSSJLHP5y-VwZ1tpS1C6p8MjDE4rDEIo1krcHxUp~8pZD4lqXiA1r77e8wgwgaKQrRd3ILhQFhcnlCfMi2v221e2twrIOBL57D8otPxKDbJlEIcv9vSDxOm-09OiowAcOOVClTEk~uowYmOQKYLSL6eeWxd7ctTdBX6~UlqT3k8MCDfBMzKA5XlB1wmLAt401QHt-tw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
}
.wines-img {
	width: 404px;
	height: 539px;
	margin-left: 109px;
	margin-top: 130px;
	flex-shrink: 0;
}
.wines-p {
	width: 123px;
	margin-top: 54px;
	margin-left: 385px;
	color: var(--main-text-color);
	text-align: center;
	font-family: Roboto;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px; /* 100% */
	letter-spacing: 2.08px;
	text-transform: uppercase;
}
.wines-h {
	width: 259px;
	margin-top: 43px;
	margin-left: 317px;
	color: var(--main-header-color);
	text-align: center;
	font-family: Roboto;
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: 63px; /* 105% */
	letter-spacing: 1.8px;
}
.wines-p-2 {
	width: 438px;
	margin-top: 37px;
	margin-left: 228px;
	color: var(--main-text-color);
	text-align: center;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22.4px; /* 140% */
	letter-spacing: 0.32px;
}
.wines-p-3 {
	width: 89px;
	margin-top: 28px;
	margin-left: 403px;
	color: var(--main-text-color);
	text-align: center;
	font-family: Roboto;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px; /* 100% */
	letter-spacing: 2.08px;
	text-transform: uppercase;
}
.gift {
	width: 1280px;
	height: 490px;
	display: flex;
	flex-shrink: 0;
}
.gift-img {
	width: 514px;
	height: 359px;
	flex-shrink: 0;
	margin-left: 98px;
	margin-top: 66px;
}
.gift-p {
	width: 119px;
	margin-left: 125px;
	margin-top: 98px;
	color: var(--main-text-color);
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px; /* 108.333% */
	letter-spacing: 2.08px;
	text-transform: uppercase;
}
.gift-h {
	width: 371px;
	margin-left: 125px;
	margin-top: 38px;
	color: var(--main-header-color);
	font-family: Roboto;
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: 63px; /* 105% */
	letter-spacing: 1.8px;
}
.gift-p-2 {
	width: 389px;
	margin-left: 125px;
	margin-top: 51px;
	color: var(--main-text-color);
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22.4px; /* 140% */
	letter-spacing: 0.32px;
}
.mid {
	width: 1280px;
	height: 760px;
	overflow: hidden;
}
.mid-img {
	width: 1280px;
	height: 960px;
	flex-shrink: 0;
}
.news {
	width: 1280px;
	height: 511px;
	margin-top: -200px;
	background-color: var(--main-color);
	flex-shrink: 0;
}